.container {
  font-size: 28px;
  /* background-color: lightblue; */

  width: 275px;

  text-decoration: line-through;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

}