#spanningTheWholeViewWidthAndHeightWrapper {
  display: flex;
}

@media (min-width: 500px) {
  #individualNoteContainer {
    min-width: 500px;
    max-width: 500px;
    /* this is to make sure that width remains constant otherwise it'll look bad */
  }
  #spanningTheWholeViewWidthAndHeightWrapper {
    align-items: center;
  }
}

@media (max-width: 500px) {
  #individualNoteContainer {
    min-width: 300px;
    max-width: 300px;
    /* width: 300px; this is to make sure that width remains constant otherwise it'll look bad */ 
    height: fit-content;
  }
}

@media (min-width : 426px) {
  textarea,button {
    font-size: 28px;
  }
  input {
    width: 30px;
    height: 30px;
  }

  .deleteButton{
    width: calc(20px*3); /*originally 20px */
    height: calc(16px*3); /* originally 16px */
  }
}

body {
  margin: 0px;
}

/* input {
  width: 30px;
  height: 30px;
} */

#spanningTheWholeViewWidthAndHeightWrapper {
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
}

#individualNoteContainer {
  border: 2px solid black;
  width: fit-content;
  padding: 2px;

  height: fit-content;
  /* margin-top: 50px; */
  max-height: 600px;
  /* transform-origin: 0 0;
  transform: scale(2.3); */

  /* margin-left: auto;
  margin-right: auto; */

}

textarea {
  resize: none;
  width: max-content;
  padding: 0px;
  border: none;
  /* border: 2px solid red; */
}

/* textarea,button {
  font-size: 32px;
} */

textarea:focus-visible {
  outline: 0px;
  /* border-color : rgba(0,0,0,1); */
}

.textAreaContainer {
  margin-bottom: 8px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
}

.textAreaContainer:has(textarea:focus-visible) {
  border-color: rgba(0,0,0,1);
}

.deleteButton {
  opacity: 0;
  margin-top: 1px;
  margin-right: 3px;
  /* width: calc(20px*3.5); originally 20px */
  /* height: calc(16px*3.5); originally 16px */
}

.textAreaContainer:focus-within .deleteButton {
  opacity: 1;
}


#elementContainer {
  max-height: 500px;
  overflow-y: auto;
}

footer {
  display: flex;
  justify-content: space-between;
}