#individualNoteContainer {
  border: 2px solid black;
  width: fit-content;
  padding: 2px;
  /* font-size: 100px; */
  /* height: min-content; */
  transform-origin: 0 0;
  transform: scale(2.3);
  /* transform: rotate(45deg); */
}

textarea {
  resize: none;
  width: 100%;
  padding: 0px;
  border: 0px;
  /* box-sizing: border-box; */
}

textarea:focus-visible {
  outline: 0px;
  border-width : 2px 0px;
  border-style : solid;
  border-color : black;
}

button {
  width: 100%;
}

.textAreaContainer {
  margin-bottom: 8px;
}